.music-toggle {
    z-index: 100;
}

.music-toggle:hover {
    background: rgba(255, 255, 255, 0.3);
}

.drawing {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

.drawing-initial-layer {
    background-image: url("/images/drawing.png");
    position: absolute;
    inset: 0;
    z-index: 10;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: bottom center;

    transform: translateY(100%);
    transition: transform var(--anim-duration) ease-in-out;
}

.drawing-initial-layer.settle {
    transform: translate(0);
}

.drawing-initial-layer.move-up {
    transform: translateY(100%);
}

.drawing-final-layer {
    position: absolute;
    inset: 0;
    z-index: 8;
    background-image: url('/images/drawing.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    opacity: 0;
    transition: opacity 350ms ease;
}

.drawing-final-layer.visible {
    opacity: 1;
    z-index: 12;
}

.drawing-speech-bubble {
    position: absolute;
    bottom: 45%;
    max-width: 45%;
    padding: 3px 22px;
    background: #fff;
    font-family: 'Trebuchet MS';
    font-size: 18px;
    color: #222;
    line-height: 1.4;
    z-index: 15;
    
    border-radius: 40px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);

    opacity: 0;
    transform: scale(0.4);
    animation: bubbleIn 1.5s ease-in-out;
    transition: opacity var(--bubble-fade), transform 0.6s;
}

.drawing-speech-bubble.left {
    left: 15%;
}

.drawing-speech-bubble.left::after {
    content: "";
    position: absolute;
    bottom: -15px;
    right: 5px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 10px 10px 0 -5px #fff;
}

.drawing-speech-bubble.right {
    right: 12%;
}

.drawing-speech-bubble.right::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 5px;
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    box-shadow: -10px 10px 0 -5px #fff;
}

.drawing-fade-in {
    opacity: 1;
    transform: translateY(0);
}

.drawing-fade-out {
    opacity: 0;
    transform: translateY(10px);
}